
    .button-bianco a {
        @include button($bgcolor: rgba(251, 251, 251, 0.20), $color: #fff, $hovercolor: #fff, $hoverbgcolor: #3C3C3B, $border-color: #fff);
    }
    .button-azzurro a {
        @include button($bgcolor: $color-main1, $color: #fff, $hovercolor: #fff, $hoverbgcolor: #103655, $border-color: #fff);
    }
    .button-trasparente a {
        @include button($bgcolor: transparent, $color: #fff, $hovercolor: #3C3C3B, $hoverbgcolor: #fff, $border-color: $color-main1);
    }
    .button-blu a {
        @include button($bgcolor: #103655, $color: #fff, $hovercolor: #fff, $hoverbgcolor: #103655, $border-color: $color-main1);
    }
    .button-nero a {
        @include button($bgcolor: #000, $color: #fff, $hovercolor: #fff, $hoverbgcolor: #000, $border-color: #fff);
    }
    .button-grigio a {
        @include button($bgcolor: transparent, $color: #575756, $hovercolor: #000, $hoverbgcolor: #fff, $border-color: #E1E1E1);
    }

    

p.label {
    text-transform: uppercase;
}

.box-centrato {
    max-width: 480px;
    margin: auto!important;
}
.box-centrato-full {
    max-width: 960px;
    margin: auto!important;
}
.spazietto {
    color: $color-main2;
    width: 40px;
}
.stonda {
    border-radius: 8px;
}