.hide {
  display: none !important;
}

@mixin wp-block-group($wp-block-group: ".wp-block-group", $wp-block-group__inner-container: ".wp-block-group__inner-container") {
  >#{$wp-block-group} {
    //@include hilight(class);
    padding-top: $default-wp-group-padding-vertical;
    padding-bottom: $default-wp-group-padding-vertical;

    &.full {}

    &.full-boxed {}

    &.half-boxed {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.cta {
      padding-top: $default-wp-group-padding-vertical*2;
      padding-bottom: $default-wp-group-padding-vertical*2;

      .wp-block-group__inner-container {}

      &.cta-richiedi-informazioni {
        padding: 30px;

        h5 {
          color: $color-main1;

          strong {
            font-family: $font-family4;
          }
        }
      }

    }

    &.simb-bg-image {
      @include figma-background-image($url: var(--bg-image));
      min-height: 100px;
      background-position: center right;

      @media screen and (max-width:$tablet) {
        background-position: center bottom -150px;
        padding-bottom: 100px;

      }
    }

    .wp-block-group__inner-container {
      &.is-layout-grid {
        gap: 10px;
        // Breakpoint per schermi small (> 576px)
        //@media (min-width: $bootstrap-grid-breakpoint-xs) {
        grid-template-columns: repeat(1, minmax(0, 1fr)); // Mantieni 2 colonne per schermi piccoli

        //  border: 12px solid orange;
        //}
        >.wp-block-group {
          margin-bottom: 32px;
        }

        // Breakpoint per schermi medium (> 992px)
        @media (min-width: $bootstrap-grid-breakpoint-sm) {
          grid-template-columns: repeat(2, minmax(0, 1fr)); // Riduci a 2 colonne per schermi medi

          >.wp-block-group {}

          // border: 12px solid pink;
        }

        // Breakpoint per schermi large (> 1312px)
        @media (min-width: $bootstrap-grid-breakpoint-md) {
          grid-template-columns: repeat(3, minmax(0, 1fr)); // Mantieni 3 colonne per schermi grandi
          // border: 12px solid aqua;
        }

        >.wp-block-group {

          // border: 12px solid purple;
          @include shadow;
          overflow: hidden;
          justify-content: space-between;

          >*:not(.wp-block-image) {

            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
          }

          p {
            min-height: 80px;

          }

          .wp-block-buttons {
            width: 100%;

            .wp-block-button {
              flex: 0 0 100%;

              a {
                width: 100%;
                display: inline-block;
              }

            }
          }
        }
      }

    }
  }


  #{$wp-block-group} {
    #{$wp-block-group__inner-container} {
      @include wp-block-columns();
    }
  }

}

@mixin wp-block-columns($wp-block-columns: ".wp-block-columns", $wp-block-column: ".wp-block-column") {
  #{$wp-block-columns} {
    align-items: center;
    // border-bottom: 2px solid orange;

    #{$wp-block-column} {
      a {
        text-decoration: none;
        transition: color 0.3s;       
      }

      >* {
        margin-bottom: 0px;
        margin-top: 0;
      }

      &.simb-bg-image {
        @include figma-background-gradient($url: var(--bg-image));
        min-height: 100px;


      }

      *.icon-title {
        &:before {
          padding-right: 32px !important;
        }
      }

     
    }

    &+#{$wp-block-columns} {
      margin-top: 40px;
    }
  }
}

@mixin button-style-clear {
  background: none;
  border: none;

  a {}
}






.entry-content {
  @include wp-block-group();

  .wp-block-navigation {
    @include menu-social-icons($container: ".wp-block-navigation", $content-image: true, $icon-pack: $icon-pack-images);

    &.wp-block-navigation-social {}
  }

  

  .wp-block-buttons.btn-testo-icona {

    .wp-block-button {
      margin-right: 20px;

      a {
        @include button-style-clear;
        color: black;
        //@debug "btn-testo-icona";
      
        @include before_block_icon($content-image: true, $content: #{map-get($icon-pack-images,"path")+map-get($icon-pack-images,"phone")}, $clear: true, $padding: 7px);

        &:before {
          color: $color-main2;
        }

        display:flex;
        align-items: center;

        /* Body BOLD */
        font-family: $font-family4;
        font-size: 14px;
        line-height: 22px;
        /* 157.143% */
      }

      &:first-child {
        a {
          @include before_block_icon($content-image: true, $content: #{map-get($icon-pack-images,"path")+map-get($icon-pack-images,"mail")}, $clear: true);
        }
      }

      //content:$var-icon-phone;
    }
  }

  .wp-block-buttons.address {

    .wp-block-button {
      //margin-right: 20px;

      a {
        text-align: left;
        pointer-events: none;
        cursor: default;
        @include button-style-clear;
        color: black;
        //@debug "btn-testo-icona";
        @include before_block_icon($content-image: true, $content: #{map-get($icon-pack-images,"path")+map-get($icon-pack-images,"pin")}, $clear: true, $padding: 7px);

        &:before {
          color: $color-main2;
        }

        display:flex;
        align-items: center;

        /* Body BOLD */
        font-family: $font-family4;
        font-size: 14px;
        line-height: 22px;

        /* 157.143% */
        &:hover {
          background: transparent;
        }
      }
    }
  }


  .wp-block-group {

    &.full {
      // border-top: 10px solid red;
      // border-bottom: 10px solid red;
      @include style-section-full-gutemberg;
    }


    &.full-boxed {
      // border-top: 10px solid green;
      // border-bottom: 10px solid green;
      @include style-section-full-boxed-gutemberg;
      // background-color: $color-neutro3-chiaro;

      .wp-block-column {

        .wp-block-image {
          overflow: hidden;

          img {
            margin: 0;
            transition: all 0.5s;
          }
        }

        &:hover {
          .wp-block-image {
            img {
              // transform: scale(1.2);
            }

            &:after {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }

        }
      }

    }

    &.half-boxed {
      text-align: left;
      // border-top: 10px solid purple;
      // border-bottom: 10px solid purple;

      >.wp-block-group__inner-container {
        >.wp-block-columns {
          align-items: center;

          >.wp-block-column {


            &:nth-child(odd) {}

            &.simb-bg-image {}

            .wp-block-image {}
          }

        }


      }

      &.leftboxed {
        @include style-section-full-content-halfboxed-leftboxed-gutemberg;

        .wp-block-columns {
          justify-content: flex-start;

          .wp-block-column:nth-child(even) {
            flex: 0 0 50%;
            align-self: stretch;
            display: flex;
          }
        }

      }

      &.rightboxed {
        @include style-section-full-content-halfboxed-rightboxed-gutemberg;

        .wp-block-group__inner-container {
          >.wp-block-columns {
            >.wp-block-column {
              &:nth-child(odd) {
                // margin-left: calc(#{-$grid-gutter-width *1.5});
                // margin-right: calc(#{-$grid-gutter-width *1.5});
                align-self: stretch;

              }

              &:nth-child(even) {}

            }
          }
        }
      }

      .wp-block-image {
        margin: 0;
        align-items: stretch;
        display: flex;
        overflow: hidden;
        justify-content: center;

        img {
          object-fit: cover;
          // width: 2000px;
        }
      }

      @media screen and (max-width: $tablet) {
        .wp-block-group__inner-container {
          padding-left: 0;
          // border: 1px solid red;
          padding-right: 0;

          .wp-block-columns {
            padding-left: 0;
            padding-right: 0;
            // border: 1px solid red;

            .wp-block-column {
              // border: 1px solid red;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }

    .wp-block-table {

      td,
      th {
        border: 1px solid $color-main2;
        padding: 20px 8px;
      }

      thead {
        border: none;

        tr {
          th {
          
            text-align: center;
            font-family: $font-family4;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            /* 100% */
          }
        }
      }

      tbody {

        tr {
          td {
            background-color: $color-neutro4;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;

            /* 114.286% */
            &:first-child {
           
              font-family: $font-family4;

            }
          }
        }

      }
    }

  

    &.no-default-padding {}
 
  }
}
   
  .wp-block-group {

    &.full {
      // border-top: 10px solid red;
      // border-bottom: 10px solid red;
      @include style-section-full-gutemberg;
    }


    &.full-boxed {
      // border-top: 10px solid green;
      // border-bottom: 10px solid green;
      @include style-section-full-boxed-gutemberg;
      // background-color: $color-neutro3-chiaro;

      .wp-block-column {

        .wp-block-image {
          overflow: hidden;

          img {
            margin: 0;
            transition: all 0.5s;
          }
        }

        &:hover {
          .wp-block-image {
            img {
              // transform: scale(1.2);
            }

            &:after {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }

        }
      }

    }

    &.half-boxed {
      text-align: left;
      // border-top: 10px solid purple;
      // border-bottom: 10px solid purple;

      >.wp-block-group__inner-container {
        >.wp-block-columns {
          align-items: center;

          >.wp-block-column {


            &:nth-child(odd) {}

            &.simb-bg-image {}

            .wp-block-image {}
          }

        }


      }

      &.leftboxed {
        @include style-section-full-content-halfboxed-leftboxed-gutemberg;

        .wp-block-columns {
          justify-content: flex-start;

          .wp-block-column:nth-child(even) {
            flex: 0 0 50%;
            align-self: stretch;
            display: flex;
          }
        }

      }

      &.rightboxed {
        @include style-section-full-content-halfboxed-rightboxed-gutemberg;

        .wp-block-group__inner-container {
          >.wp-block-columns {
            >.wp-block-column {
              &:nth-child(odd) {
                // margin-left: calc(#{-$grid-gutter-width *1.5});
                // margin-right: calc(#{-$grid-gutter-width *1.5});
                align-self: stretch;

              }

              &:nth-child(even) {}

            }
          }
        }
      }

      .wp-block-image {
        margin: 0;
        align-items: stretch;
        display: flex;
        overflow: hidden;
        justify-content: center;

        img {
          object-fit: cover;
          // width: 2000px;
        }
      }

      @media screen and (max-width: $tablet) {
        .wp-block-group__inner-container {
          padding-left: 0;
          // border: 1px solid red;
          padding-right: 0;

          .wp-block-columns {
            padding-left: 0;
            padding-right: 0;
            // border: 1px solid red;

            .wp-block-column {
              // border: 1px solid red;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }



    &#features {
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10) inset;

      .wp-block-group__inner-container {
        .wp-block-columns {
          &:nth-child(2) {
            p {
              text-align: center;
              color: $color-main2;
            }
          }

          .wp-block-column {
            .wp-block-image {
              padding-bottom: 40px;
              margin-bottom: 0;
            }

            h4 {
              margin-bottom: 16px;
            }
          }
        }
      }

    }




    &.filo {
      @include style-section-full-gutemberg;
      padding: 0;
    }

    &#news {
      // padding-bottom: 120px;
      // padding-top: 120px;
    }

    &.cta {
      @include figma-background-gradient2();

      h2 {
        font-size: 40px;
      }

      // outline:10px dashed gold;
      .wp-block-group__inner-container {
        .wp-block-columns {
          .wp-block-column {
            @include flex-default;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;

          }
        }

      }

      &.simb-bg-image {
        // padding: 270px 2%;

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
          color: $color-neutro4;
        }
      }
    }


  
  }
  