.hide {
  display: none !important;
}

@mixin wp-block-group($wp-block-group: ".wp-block-group", $wp-block-group__inner-container: ".wp-block-group__inner-container") {
  >#{$wp-block-group} {
    //@include hilight(class);
    padding-top: $default-wp-group-padding-vertical;
    padding-bottom: $default-wp-group-padding-vertical;
 
   
    &.simb-bg-image {
      @include figma-background-image($url: var(--bg-image));
      min-height: 100px;   
      background-position: center center;   
    }

    .wp-block-group__inner-container {
      &.is-layout-grid {
        gap: 10px;
        // Breakpoint per schermi small (> 576px)
        //@media (min-width: $bootstrap-grid-breakpoint-xs) {
        grid-template-columns: repeat(1, minmax(0, 1fr)); // Mantieni 2 colonne per schermi piccoli

        //  border: 12px solid orange;
        //}
        >.wp-block-group {
          margin-bottom: 32px;
        }

        // Breakpoint per schermi medium (> 992px)
        @media (min-width: $bootstrap-grid-breakpoint-sm) {
          grid-template-columns: repeat(2, minmax(0, 1fr)); // Riduci a 2 colonne per schermi medi

          >.wp-block-group {}

          // border: 12px solid pink;
        }

        // Breakpoint per schermi large (> 1312px)
        @media (min-width: $bootstrap-grid-breakpoint-md) {
          grid-template-columns: repeat(3, minmax(0, 1fr)); // Mantieni 3 colonne per schermi grandi
          // border: 12px solid aqua;
        }

        >.wp-block-group {

          // border: 12px solid purple;
          @include shadow;
          overflow: hidden;
          justify-content: space-between;

          >*:not(.wp-block-image) {

            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
          }

          p {
            min-height: 80px;

          }

          .wp-block-buttons {
            width: 100%;

            .wp-block-button {
              flex: 0 0 100%;

              a {
                width: 100%;
                display: inline-block;
              }

            }
          }
        }
      }

    }
  }


  #{$wp-block-group} {
    #{$wp-block-group__inner-container} {
      @include wp-block-columns();
    }
  }

}

@mixin wp-block-columns($wp-block-columns: ".wp-block-columns", $wp-block-column: ".wp-block-column") {
  #{$wp-block-columns} {
    align-items: center;
    // border-bottom: 2px solid orange;

    #{$wp-block-column} {
      a {
        text-decoration: none;
        transition: color 0.3s;       
      }

  

      &.simb-bg-image {
        @include figma-background-gradient($url: var(--bg-image));
        min-height: 100px;


      }

      *.icon-title {
        
        &:before {
          padding-right: 32px !important;
        }
        @media screen and (max-width:$mobile) {
          flex-wrap: wrap;
          text-align:center!important;
          &:before {
            padding-right: 0 !important;
            margin-bottom: 32px;
          }
        }
      }
     
    }

    &+#{$wp-block-columns} {
      margin-top: 40px;
    }
  }
}

@mixin button-style-clear {
  background: none;
  border: none;

  a {}
}

#masthead {}

.site-footer {
  .wp-block-group {
    padding: 40px 0;
    &#footer-widgets-gutemberg {
      .wp-block-group__inner-container {
        >.wp-block-columns {
          gap: 10%;

          .wp-block-column {

            p,
            .wp-element-button {
              align-items: center;
              font-size: 14px !important;
              font-family: $font-family2;
              color: $color-main1 ;
              padding-left: 0;
              padding: 0;
              margin: 0;
              margin-bottom: 24px;
            }
            
            .wp-block-navigation {
              .wp-block-navigation-item {
                font-family: $font-family3;
                text-transform: uppercase;

                @include style-menu-item($font-family: $font-family3, $color: $color-main1) {
                  text-transform: uppercase;
                  margin-bottom: 14px;
                  display: flex;
                  padding: 8px 10px;
                  justify-content: center;
                  gap: 10px;
                  align-items: center;
                }
              }
            }
            .wp-container-content-2{
              p{
                text-align:left;
              }
            }
          }
        }


      }
    }

    &#site-info {
      background-color: $color-neutro1;
      padding: 10px;

      .wp-block-columns {
        gap: 10px;
        /* Larghezza pari a quella della viewport */
        //width: calc(100vw); /* Larghezza pari a quella della viewport */
        /* Larghezza pari a quella della viewport */

        /* Centra l'elemento */
        .wp-block-column {

          >* {
            margin: 0;
            padding: 0;
            color: $color-neutro4;
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
}

.entry-content {}

.site-header,
.entry-content
 {
  @include wp-block-group();

  .wp-block-navigation {
    @include menu-social-icons($container: ".wp-block-navigation", $content-image: true, $icon-pack: $icon-pack-images);

    &.wp-block-navigation-social {}
  }

  .wp-block-buttons:not(.btn-testo-icona) {

    .wp-block-button {
      a {
        @include button-figma-style-light-big();

      }
    }
  }

 

  .wp-block-group {

    &.full {
      // border-top: 10px solid red;
      // border-bottom: 10px solid red;
      @include style-section-full-gutemberg;
    }


    &.full-boxed {
      // border-top: 10px solid green;
      // border-bottom: 10px solid green;
      @include style-section-full-boxed-gutemberg;
      // background-color: $color-neutro3-chiaro;

      .wp-block-column {

        .wp-block-image {
          overflow: hidden;

          img {
            margin: 0;
            transition: all 0.5s;
          }
        }

        &:hover {
          .wp-block-image {
            img {
              // transform: scale(1.2);
            }

            &:after {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }

        }
      }

    }

    &.half-boxed {
      text-align: left;
      // border-top: 10px solid purple;
      // border-bottom: 10px solid purple;

      >.wp-block-group__inner-container {
        >.wp-block-columns {
          align-items: center;

          >.wp-block-column {


            &:nth-child(odd) {}

            &.simb-bg-image {}

            .wp-block-image {}
          }

        }


      }

      &.leftboxed {
        @include style-section-full-content-halfboxed-leftboxed-gutemberg;

        .wp-block-columns {
          justify-content: flex-start;

          .wp-block-column:nth-child(even) {
            flex: 0 0 50%;
            align-self: stretch;
            display: flex;
          }
        }

      }

      &.rightboxed {
        @include style-section-full-content-halfboxed-rightboxed-gutemberg;

        .wp-block-group__inner-container {
          >.wp-block-columns {
            >.wp-block-column {
              &:nth-child(odd) {
                // margin-left: calc(#{-$grid-gutter-width *1.5});
                // margin-right: calc(#{-$grid-gutter-width *1.5});
                align-self: stretch;

              }

              &:nth-child(even) {}

            }
          }
        }
      }

      .wp-block-image {
        margin: 0;
        align-items: stretch;
        display: flex;
        overflow: hidden;
        justify-content: center;

        img {
          object-fit: cover;
          // width: 2000px;
        }
      }

      @media screen and (max-width: $tablet) {
        .wp-block-group__inner-container {
          padding-left: 0;
          // border: 1px solid red;
          padding-right: 0;

          .wp-block-columns {
            padding-left: 0;
            padding-right: 0;
            // border: 1px solid red;

            .wp-block-column {
              // border: 1px solid red;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }



    &#features {
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10) inset;

      .wp-block-group__inner-container {
        .wp-block-columns {
          &:nth-child(2) {
            p {
              text-align: center;
              color: $color-main2;
            }
          }

          .wp-block-column {
            .wp-block-image {
              padding-bottom: 40px;
              margin-bottom: 0;
            }

            h4 {
              margin-bottom: 16px;
            }
          }
        }
      }

    }




    &.filo {
      @include style-section-full-gutemberg;
      padding: 0;
    }

    &#news {
      // padding-bottom: 120px;
      // padding-top: 120px;
    }

    &.cta {
      @include figma-background-gradient2();

      h2 {
        font-size: 40px;
      }

      // outline:10px dashed gold;
      .wp-block-group__inner-container {
        .wp-block-columns {
          .wp-block-column {
            @include flex-default;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;

          }
        }

      }

      &.simb-bg-image {
        // padding: 270px 2%;

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
          color: $color-neutro4;
        }
      }
    }


  
  }
}