// @import 'scss/partials/sub-header';
// @import 'scss/partials/woo-search';
// @import 'scss/partials/logotraimenu';
@import 'higlight-header';

.site {
  //overflow-x: visible;
  #header-top {
    background-color: $color-main1;
    overflow: hidden;
    padding: 10px 0;
    font-size: 11px;
    line-height: 11px;
    color: $color-neutro4;

    a {
      font-size: 11px;
      color: $color-neutro4;
    }

    .container-info-box {
      float: left;
      clear: none;

      .widget {
        margin: 0;

        ul {
          @include reset_box_model;

          li {}
        }
      }

      ul {
        li {
          display: inline-block;
          padding: 0 10px;
          border-right: 1px solid $color-neutro4;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  header {
    &#masthead {
      &.site-header {
      }

      .col-full {
        width: 100%;
      }
    }
  }
}
