html {
    scroll-behavior: smooth;
    margin-top: 0!important;
    overflow-x: hidden;
}
figure {
    margin: 0;
}

#testata-home {
    padding-top: 0;
    padding-bottom: 0;
    #slider-home {
        figure {
            height: 90vh;
            border-radius: 0 0 24px 24px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;           
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 6.15%, rgba(0, 0, 0, 0.00) 45.1%, rgba(0, 0, 0, 0.00) 81.59%, rgba(0, 0, 0, 0.40) 100%);
              }
        }
    }  
     .slick-dots {
                bottom: 75px;
                left: calc(50vw - 840px);
                max-width: $site-width;
                text-align: left;
                li {
                    width: auto;
                    button {           
                        background: #ffffff;
                        opacity: 0.4;           
                        height: 4px;
                        width: 20px;           
                        padding: 1px;
                        border-radius: 30px;   
                        &::before {
                            display: none;
                        }        
                    }
                    &.slick-active button {
                        width: 60px;
                        opacity: 1;
                    }
                }
              } 
              
}
#testata-hero {    
        position: absolute;
        top: 0px;
        padding-top: 0;
        padding-bottom: 0;   
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: nowrap;
        &>div {
            margin-bottom: 140px;
            width: 100%;
            max-width: $site-width;
            h1 {
                color: #fff;
                margin-bottom: 32px;
            }           
        }
        
}

.page-hero {
    display: flex;
    height: 320px;
    padding-top: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    h1 {
        color: #FFF;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 68px; /* 113.333% */
    }
}
.categorie-prodotti-vetrina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    li {
        width: 25%;
        list-style-type: none;
        text-align: center;
        color: #575756;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;   
        padding: 30px;    
        img {
            max-width: 80px;
            height: auto;
            margin: auto;
            margin-bottom: 16px;
            display: block;
            opacity: 0.5;
        }
    }
}


// HOME

#home-certificazioni, .mezzobox {
    @include deep-gap(120px);
    p.label {
        color: $color-main1;
        }
        h2 {
            margin-bottom: 16px!important;
            color: $nero;
        }
}

#home-soluzioni {   
    padding-top: 0;
    padding-bottom: 0;    
    &>div>div {      
        background-color: $color-main1;
        border-radius: 16px;
        overflow: hidden;
        p, h2 {
            color: #fff;
        }
        h2 {
            padding-top: 24px;
            padding-bottom: 24px;
        }
        p.label {
            color: $color-main2;
        }
        .wp-block-buttons {
            margin-top: 40px;
        }
    }
}

#home-sostenibilita {   
    padding-top: 0;
    padding-bottom: 0;    
    &>div>div {      
         border-radius: 16px;
         background: 
            linear-gradient(270deg, rgba(29, 113, 184, 0) 34.02%, rgba(29, 113, 184, 0.90) 57.37%),
            linear-gradient(270deg, rgba(0, 39, 166, 0) 38.89%, rgba(0, 0, 0, 0.90) 85.35%),
            url('/wp-content/uploads/2025/07/13feaba250f04e0b01696436351a5df6426b734d.jpg') center / cover no-repeat,
            #1D71B8;
            background-blend-mode: multiply, normal, normal, normal;        
            overflow: hidden;
            padding-top: 120px;
            padding-bottom: 120px;    
        h4, h2 {
            color: #fff;
        }
        h2 {
            padding-top: 24px;
            padding-bottom: 24px;
        }
        p.label {
            color: $color-main2;
        }
        .wp-block-buttons {
            margin-top: 40px;
        }
    }
}

#home-rete {
    h2, h4 {
        color: #3C3C3B;
        margin-bottom: 16px;;       
        max-width: 380px;
    }
    .wp-block-buttons {
        margin-top: 40px;
    }
    p.label {
        color: $color-main1;
        margin-bottom: 16px;
    }
    .spazietto {      
        margin-bottom: 24px;
    }
    .galleriacertificati {
            figure {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                padding: 20px;
                img {
                    max-width: 120px!important;
                    max-height: 75px;
                    object-fit: contain;
                }
        }
    }
}
#home-download {
    position: relative;
    &>div>div {      
        justify-content: space-between;
    }
    &::before, &::after {
        content: "";
        width: calc(50vw - 14px);
        height: 100%;
        position: absolute;       
        top: 0;    
        z-index: -1;
        border-radius: 16px;
    }
    &::before {
        background-color: #282828;
        left: 12px;        
    }
    &::after {        
        background-color: #F3F3F3;
        right: 12px;        
    }
    .dwbox {
        p.label {
            color: $color-main2;
            margin-bottom: 12px;
        }
        h2 {
            color: #fff;
            margin-bottom: 24px;
            max-width: 470px;
        }
        .spazietto {      
            margin-bottom: 64px;
        }
        .texton {
            color: #fff;
            font-size: 20px;
            max-width: 470px;
        }
    }
    .home-login {
        max-width: 470px;
        h5 {
            color: #3C3C3B;
            margin-bottom: 16px;
        }
        .spazietto {      
            margin-bottom: 16px;
        }
        #loginform {
            margin-top: 24px;
            label {
                display: none;
            }
            input[type=password], input[type=text] {
                border-radius: 4px;
                border: 1px solid #E1E1E1;
                background:#FFF;
                width: 100%;
                padding: 12px;
                color:#575756;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
            }
            input[type=submit] {
            background-color: $color-main1;
            padding: 16px 32px;
            color: #fff;
            border-radius: 78px;
            border: 1px solid #fff;    
            transition: all 0.5s;
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
            }
        }
    }
}
#home-dubbi {
    h2 {
        margin-bottom: 16px;
    }
    h4 {
        max-width: 540px;
        color: #3C3C3B;
    }
    .info-home {
        figure {
            border: 3px solid $color-main2;
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
        }
        h4 {
            font-weight: 600;
            margin-bottom: 4px;
        }
        p {
            font-size: 16px;
            color: #575756;
        }
    }
}

.callfullpage {   
    padding-top: 0;
    padding-bottom: 0;    
    &>div>div {      
         border-radius: 16px;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
            url('/wp-content/uploads/2025/09/sondotondi.jpg') 50% / cover no-repeat,
            #1D71B8;
            background-blend-mode: normal, soft-light, normal;        
            overflow: hidden;
            padding-top: 120px;
            padding-bottom: 120px;    
        h4, h2 {
            color: #fff;
        }
        h2 {
            padding-top: 24px!important;
            padding-bottom: 24px!important;
        }
        p.label {
            color: $color-main2;
        }
        .wp-block-buttons {
            margin-top: 40px!important;
        }
    }
}
.certificati {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 30px!important;
        figure {
            max-width: 230px!important;
        }
}
.certicerti {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 64px!important;
    align-items: center;
    figure {
        max-width: 130px!important;
        max-height: 75px!important;
        img {
            object-fit: contain;
        }
    }
}
.certificatipr {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 39px!important;
    padding-top: 80px;
    figure {
        max-width: 200px!important;
    }
}

.wp-block-gallery.has-nested-images.alignleft, .wp-block-gallery.has-nested-images.alignright {
    max-width: 100%!important;
}

#bloccontatti{
    h2 {
        margin-bottom: 16px;
    }
    h4 {
        max-width: 540px;
        color: #3C3C3B;
    }
    .info-home {
        figure {
            border: 3px solid $color-main2;
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
        }
        h4 {
            font-weight: 600;
            margin-bottom: 4px;
        }
        p {
            font-size: 16px;
            color: #575756;
        }
    }
}