
%titoli {
  font-family: $font-family3;
  font-size: $titoli-secondari;
  color: $color-main1;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family1;
  font-size: $testo-base;
  color: $nero;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: $color-main1;
  // font-family: $font-family4;
  @extend %titoli;
}

a {
 
text-decoration: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

h1 {
 font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 68px;
}

h2 {
  font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 44px; 
}

h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  line-height: 120%;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

p.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 228.571% */
  letter-spacing: 2.8px;
}

/*
 Retina
dovrebbe sistemare il difetto dei grassetti in iphone.
iphone sembra sballare quando il tag b o strong hanno un fontweight diverso da "normal" assegnato e un fontfamily che no sia Bold.
in pratica o non si da nessun css al font o gli si dasia il weight che il font bold
ad esempio, in simbiosigroup il testo aveva ereditato il regular, weight 600 e aveva il tag <strong>, iphone scassava il carattere, 
forzando    
    font-family: "FontBold"; sarebbe il font del sito in versione Bold.
    font-weight: normal!important;
si vede bene

Non è una scienza esatta, bisogna verificare su un iphone. La media query comunque sembra funzionare, almeno sull'iphone di Matte :)
*/
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    b,
    strong {
        //font-family: "FontBold"; //inserire il font corretto
        font-weight: normal ;
    }

}