@mixin hilight($content:true,$selector:class) {
  $color: random_color();
  background-color: $color;

  &:before {
    @if($content) {
      content: attr($selector);
      color: $color;
      padding: 5px;
      @include text-contrast($color)
    }
  }

  * {
  }
}

header {
  &#masthead {
    @include hilight;

    div.container {
      @include hilight;
      nav.navbar {
        @include hilight;
        button.navbar-toggler {
          span.navbar-toggler-icon {}
        }

        div#main-nav {
          @include hilight;
          ul#menu-menu-1 {
            li#menu-item-38 {
              a.nav-link {}
            }

            li#menu-item-39 {
              a.nav-link {}
            }

            li#menu-item-40 {
              a.nav-link {}
            }

            li#menu-item-41 {
              a.nav-link {}
            }

            li#menu-item-43 {
              a.nav-link {}
            }

            li#menu-item-44 {
              a.nav-link {}
            }

            li#menu-item-45 {
              a.nav-link {}
            }
          }
        }
      }
    }
  }
}
