.page-template-contatti {.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
      width: 100%;
      background-color: transparent;
      border: 2px solid $color-main6;
}
.submit-button {
  text-align: center;
}
input[type="submit"] {
  text-transform: uppercase;
  background-color: $color-main6;
  color: $color-main4;
  &:hover {
    background-color: $color-main1;
    color: $color-main7;
  }
}
form  {
  margin-bottom: 0;
   p  {
  margin-bottom: 10px;
}
div {
    margin-bottom: 1em;
}
}
#content #content-page:last-child {
  padding-bottom: 0;
}
}
