@media screen and (max-width:$menu-mobile) {
  #site-navigation .primary-navigation {
    display: none;
  }
  .menu-toggle, .handheld-navigation, .main-navigation.toggled .handheld-navigation, .main-navigation.toggled div.menu {
    display: block;
  }
  .storefront-primary-navigation {
    position: absolute;
  }
  .woocommerce-active .site-header .storefront-primary-navigation .col-full {
    position: absolute;
    top: 15%;
    right: 0%;
    width: 100%;
  }
  .handheld-navigation ul li {
    display: list-item;
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
  text-align: center;
}
.woocommerce-active .site-header .main-navigation {
  width: 90%;
  margin-right: 0;
  float: none;
  ul {
  background-color: $color-main6;
}
}
.storefront-primary-navigation {
  width: 90%;
}
.woocommerce-active .site-header .site-search {
    width: 10%;
  }
}
@media screen and (max-width:$mobile) {
  .info-boxes-list .info-box {
    @include span(12 of 12);
    @include gutter(5px);
  }
  #sub-header .single-box {
    @include span(12 of 12);
    @include gutter(5px);
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
  #rotator {
    text-align: center;
  }
  .feat-prod ul li.product, .cat-feat ul li.product{
    @include span(12 of 12);
    @include gutter(1vw);
  }
  .gh70, .ubu70 {
    font-size: $mobile-titoli-principali;
  }
  .gh60 {
    font-size: $mobile-titoli-secondari;
  }
  footer .site-info {
    margin-bottom: 50px;
  }
  .single-product .quantity, .woocommerce-cart .quantity {
    border: none;
  }
  .woocommerce-active .site-header .storefront-primary-navigation .col-full {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 100%;
}
.storefront-primary-navigation {
  position: static;
}
.woocommerce-active .site-header .main-navigation {
    width: 95%;
  }
}
