body {
  background-color: transparent;
}

.site-header {
  .col-full {
    max-width:$site-width;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
    background-color: $color-main6;
  .menu-menu-sinistra-container ul li, .menu-menu-destra-container ul li {
      display: inline-block;
      padding-right: 5%;
      a:hover, &.current-menu-item a {
      border-bottom: 2px solid $color-main4;
      color: $color-main4;
    }
    a {
      color: $color-main7;
    }
    }
  }

  .home.blog .site-header,
  .home.page:not(.page-template-template-homepage) .site-header,
  .home.post-type-archive-product .site-header {
      margin-bottom: 2em;
  }

/*#menu-main-menu  {
  li.menu-item.current-menu-item {
  background-color: $color-main1;
    border-radius: 5px;
    a {
      color: $color-main7;
    }
  }
  li.menu-item  a {
      padding: 5px 15px;
      font-weight: $bold;
      color: $color-main6;
    }
  li a:hover {
    color: $color-main7;
    background-color: $color-main1;
    border-radius: 5px;
  }*/
  /*li.menu-item.current-menu-item.viola, li.viola a:hover {
  background-color: $color-main6;
    }
  li.menu-item.current-menu-item.verde, li.verde a:hover {
    background-color: $color-main6;
      }
  li.menu-item.current-menu-item.arancione, li.arancione a:hover {
    background-color: $color-main6;
      }
  li.menu-item.current-menu-item.giallo, li.giallo a:hover {
    background-color: $color-main6;
      }
  li.menu-item.current-menu-item.rosa, li.rosa a:hover {
    background-color: $color-main6;
      }
  li.menu-item.current-menu-item.grigio, li.grigio a:hover {
    background-color: $color-main6;
  }
}*/
.secondary-navigation {
  border-bottom: 1px solid $color-main3;
  ul.menu {
        margin-right: 5%;
  li {
  border-right: 1px solid $color-main7;
  &.current-menu-item > a {
    color: $color-main4;
  }
  &:last-child {
    width: 250px;
    text-align: center;
    background-color: $color-main3;
    a:before {
      content: "\f07a";
display: inline-block;
font-family: 'Font Awesome\ 5 Free';
font-size: 15px;
padding-right: 5px;
    }
  }
  a {
    color: $color-main2;
  &:hover {
    color: $color-main4;
  }
}
  }
}
}
.site-header-cart a.cart-contents:after,
.storefront-handheld-footer-bar ul li.cart > a:before {
content: "\f07a";
font-family: 'Font Awesome\ 5 Free';
color: $color-main7;
}
.site-header-cart a.cart-contents:hover::after {
  color: $color-main4;
}
#site-header-cart {
  margin: 0 0 1em 0;
position: absolute;
top: 32%;
right: 23%;
    transform:translateY(50%);
}
.site-header-cart {
.cart-contents {
  padding: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
    .amount {
      display: none;
    }
    .count {
    text-indent: 0px;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    box-sizing: content-box;
    font-size: 0.75em;
    position: absolute;
    top: 0em;
    left: 70%;
    border-radius: 100%;
    border: 1px solid $color-main4;
    text-align: center;
    background-color: $color-main4;
    color: $color-main7;
    opacity: 1;
  }
}
.widget_shopping_cart {
      top: 3em;
}
}
.site-search {
  display: none;
}
#sb-search input[type="submit"], #sb-search input[type="search"] {
  background-color: $color-main6;
    border-color: $color-main6;
    box-shadow: none;
}
#sb-search.sb-search-open input[type="search"] {
  background-color: $color-main1;
  border: 1px solid $color-main2;
}
.storefront-breadcrumb .col-full, #page header {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.storefront-breadcrumb {
  background-color: $color-main3;
  margin: 0;
  .woocommerce-breadcrumb {
text-align: center;
color: $color-main2;
 a {
   color: $color-main2;
 }
 .breadcrumb-separator {
   text-indent: 1px;
   color: $color-main3;
 }
 .breadcrumb-separator:after{
   content:"\f111";
   color: $color-main2;
opacity: 1;
font-size: 5px;
 }
 a:first-of-type:before {
   content:"";
 }
}
}
