/*#secondary .widget {
    border: 1px solid $color-main1;
  border-radius: 10px;
  padding: 20px;
}*/
  .widget_product_categories ul li:before {
     content: "\f054";
  }
  .widget_product_categories ul li.current-cat:before {
     content: "\f078";
  }
  .page.left-sidebar .content-area  {
    width: 100%;
  }
/*.single-product.left-sidebar .site-content,
.tax-product_cat.left-sidebar .site-content,
.post-type-archive-product.left-sidebar .site-content {
  padding-top: 2em;
}*/
.widget.woocommerce li .count {
  display: none;
}
#secondary {
.widget-title {
    padding-bottom: 1em;
    font-family: $font-family2;
    font-size: $widget-title;
}
.sidebar-spot {
  background-image: url(../storefront-child/assets/img/sfondo-blu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px;
color: $color-main7;
font-family: $font-family2;
font-size: $sub-spot;
.elem {
  font-size: $widget-text;
  &:before {
    content: "\f054";
display: inline-block;
font-family: 'Font Awesome\ 5 Free';
padding-right: 5px;
font-size: $widget-text;
  }
}
.sidebar-button {
  text-align: center;
   a {
    border-radius: 30px;
    padding: 10px;
    color: $color-main7;
    text-transform: uppercase;
    border: 1px solid $color-main7;
  &:hover {
    background-color: $color-main1;
    border-color: $color-main1;
    color: $color-main7;
  }
}
}
}
li.cat-item, li.wc-layered-nav-term {
    border-bottom: 1px solid $color-main2;
    padding-bottom: 1em;
}
a:not(.button) {
  text-decoration: none;
}
a:hover {
  color: $color-main4;
}
}
