$color-main1: #8B4513; //bronzo
$color-main2: #808080; //grigio scuro
$color-main3: #E9E9E9; //grigio chiaro
$color-main4: #FFC639; //oro
$color-main6: #000000; //nero
$color-main7: #ffffff; //bianco

$bold: bold;

$font-family1: 'butlerbold';
$font-family2: 'abelregular';

$google-plus: #dd4b39;
$linkedin: #0077B5;
$facebook:#3b5999;
$instagram:#e4405f;
$twitter:#55acee;

$transform-uppercase: uppercase;
$titoli-principali: 42px;
$titoli-secondari: 4em;
$spot-box-title: 2em;
$sottotitoli: 24px;
$spot-facebook: 24px;
$widget-title: 30px;
$titoli-shop: 20px;
$sub-spot: 18px;
$widget-text: 15px;
$footer-testo: 17px;
$testo: 18px;
$form: 1.2rem;
$copy: 14px;
$titoli-widget-big: 4em;

$site-width: 1300px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 767px;

$menu-mobile: 1010px;
$mobile-titoli-principali: 55px;
$mobile-titoli-secondari: 45px;

$bg-bianco-grigio: '../storefront-child/assets/img/bianco-grigio.jpg';
$bg-grigio-bianco: '../storefront-child/assets/img/grigio-bianco.jpg';
$bg-bianco: #fff;
$bg-grigio: #E9E9E9;
