//admin->personalizza->layout
#input_retina_layout {
  label {
    height: auto;
    margin-bottom: 10px;
    padding: 0;
  }

  input {
    &.ui-checkboxradio-icon {}
  }
}

//gutemberg customization

.block-editor-block-list__layout {
  &.is-root-container {
    border: 5px solid blue;
    >.wp-block {
      max-width: 80%;
    
      &.full,
      &.full-boxed,
      &.half-boxed {
        max-width: 100%;
      }
    }

    .wp-block-group {
      border: 10px solid #afafaf;

      &.section {
        background-color: #afafaf;
      }

      &.full {
        background-color: #ffafaf;
        .wp-block-columns {
          max-width: 100%;
          border: 10px solid #00afaf;
        }
      }

      &.full-boxed {
        max-width: 100%;
        background-color: #00afaf;

        .wp-block-columns {
          max-width: 80%;
          border: 10px solid #00afaf;
        }
      }
      &.half-boxed {
        background-color: #78ff7f;
      }
    }

    .wp-block-columns {
      border: 10px solid #ffafaf;

      .wp-block-column {
        border: 10px solid #afffaf;
      }
    }
  }
}