@mixin hilight($selector:id,$content:true) {
  $color: random_color();
  background-color: $color;
  position: relative;
  * {
    @include text-contrast($color)
  }
  &:before {
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    overflow: hidden;
    //width:  25px;
    //position: absolute;
    white-space: nowrap;
    top: 0 ;
    left: 0;
    padding-right: 25px;
    display: inline-block;
    @if($content) {
      content: attr($selector);
      background-color: red;
      @include text-contrast(red)
      font-size: pixel2rem(12);
      text-align: right;
    }
  }
  &:hover:before{
    background-color: black;
    @include text-contrast(red)
  }
}

header {


  &#masthead {
    @include hilight;

    div.container {
      @include hilight(class);

      nav.navbar {
        @include hilight(class);

        button.navbar-toggler {
          span.navbar-toggler-icon {}
        }

        div#main-nav {
          @include hilight;

          ul.navbar-nav {
            @include hilight;

            li.menu-item {
              @include hilight;

              a.nav-link {}
            }
          }
        }
      }
    }
  }
}

#header-top {
  @include hilight(class);
}
#header-home {
  @include hilight;
}

#header-bottom {
  @include hilight;
}

#page-sub-header {
  @include hilight;

  .container {
    @include hilight;

    h1 {}

    p {}

    .page-scroller {
      .fa {}
    }
  }
}
